layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane size="70%" split_direction="vertical" {
        pane size="22%" command="ft"
        pane
    }
    pane split_direction="vertical" {
        pane size="22%" command="keifu"
        pane
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
